<mat-drawer-container class="menu-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container">Logo</div>
    <mat-list>
      <mat-list-item routerLink="dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <div matListItemTitle>Board</div>
      </mat-list-item>
      <mat-list-item routerLink="user">
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>User</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Customer Relationship Management</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
